<template>
  <v-list-item dense class="pl-2 pr-3">
    <v-list-item-content class="text-capitalize pl-4 pr-4">
      <v-list-item-title
        :class="justify"
      >{{$t(`SIDEBAR_COMPONENT.CATEGORIES.${upperCasedCategory}`)}}</v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
// Dependencies
import mixins from "../../mixins";

export default {
  name: "category-button",
  mixins: [mixins],
  props: {
    category: {
      type: Object,
      required: true
    }
  },
  computed: {
    upperCasedCategory() {
      return this.category.label.toUpperCase();
    }
  }
};
</script>

<style scoped>
/*  */
</style>