<template>
  <div>
    <v-btn icon @click.stop="TOGGLE_SIDEBAR()">
      <v-icon>fa-bars</v-icon>
    </v-btn>
  </div>
</template>

<script>
// Dependencies
import { mapMutations } from "vuex";

export default {
  name: "hamburger-button",
  methods: {
    // Mutations
    ...mapMutations("sidebar", {
      TOGGLE_SIDEBAR: "TOGGLE_SIDEBAR"
    })
  }
};
</script>

<style scoped>
/*  */
</style>