<template>
  <v-list-item @click="changeWebsiteLanguage(language)">
    <v-tooltip>
      <template v-slot:activator="{ on }">
        <v-list-item-content v-on="on">
          <v-list-item-title class="subtitle-2 text-capitalize text-center">{{language.code}}</v-list-item-title>
        </v-list-item-content>
      </template>
      <span class="text-capitalize">{{$t(`NAVBAR_COMPONENT.LANGUAGES.${language.translation}`)}}</span>
    </v-tooltip>
  </v-list-item>
</template>

<script>
// Dependencies
import { mapActions } from "vuex";

export default {
  name: "language-button",
  props: {
    language: {
      type: Object,
      required: true
    }
  },
  methods: {
    // Actions
    ...mapActions({
      changeWebsiteLanguage: "changeWebsiteLanguage"
    })
  }
};
</script>

<style scoped>
/*  */
</style>