<template>
  <v-btn icon @click.stop="TOGGLE_LANGUAGE_SIDEBAR()">
    <v-icon>fa-globe</v-icon>
  </v-btn>
</template>

<script>
// Dependencies
import { mapMutations } from "vuex";

export default {
  name: "localization-button",
  methods: {
    // Mutations
    ...mapMutations("languageSidebar", {
      TOGGLE_LANGUAGE_SIDEBAR: "TOGGLE_LANGUAGE_SIDEBAR"
    })
  }
};
</script>

<style scoped>
/*  */
</style>