<template>
  <!-- Button for right to left written languages -->
  <v-btn v-if="websiteLanguageIsArabic" text @click="navigateTo({name:route})">
    <span class="font-weight-medium">{{$t(`NAVBAR_COMPONENT.TABS.${upperCasedRoute}`)}}</span>
  </v-btn>

  <!-- Button for left to right written languages -->
  <v-btn v-else text @click="navigateTo({name:route})">
    <span class="font-weight-medium">{{$t(`NAVBAR_COMPONENT.TABS.${upperCasedRoute}`)[0] }}</span>
    <span
      class="font-weight-light text-lowercase"
    >{{ $t(`NAVBAR_COMPONENT.TABS.${upperCasedRoute}`).substring(1)}}</span>
  </v-btn>
</template>

<script>
// Dependencies
import mixins from "../../mixins";

export default {
  name: "navigation-button",
  mixins: [mixins],
  props: {
    route: {
      type: String,
      required: true
    }
  },
  computed: {
    upperCasedRoute() {
      return this.route.toUpperCase();
    }
  }
};
</script>

<style>
/*  */
</style>