<template>
  <v-list-item dense class="pl-2 pr-3" @click="navigateTo(tab.route)">
    <v-container class="pa-0">
      <v-row align="center" class="pa-0">
        <v-col cols="3" class="pa-0" :order="iconOrder">
          <v-list-item-content>
            <v-icon small>{{tab.icon}}</v-icon>
          </v-list-item-content>
        </v-col>
        <v-col cols="9" class="text-capitalize pa-0" :order="nameOrder">
          <v-list-item-content>
            <v-list-item-title :class="justify">{{$t(`NAVBAR_COMPONENT.TABS.${upperCasedTab}`)}}</v-list-item-title>
          </v-list-item-content>
        </v-col>
      </v-row>
    </v-container>
  </v-list-item>
</template>

<script>
// Dependencies
import mixins from "../../mixins";

export default {
  name: "sidebar-button",
  mixins: [mixins],
  props: {
    tab: {
      type: Object,
      required: true
    }
  },
  computed: {
    upperCasedTab() {
      return this.tab.name.toUpperCase();
    },
    // Conditions
    iconOrder() {
      return this.websiteLanguageIsArabic ? 2 : 1;
    },
    nameOrder() {
      return this.websiteLanguageIsArabic ? 1 : 2;
    }
  }
};
</script>

<style scoped>
/*  */
</style>