<template>
  <div>
    <v-app :style="appStyles">
      <div id="app-content">
        <!-- Navbar  -->
        <navbar></navbar>

        <!-- Router View -->
        <v-content>
          <router-view></router-view>
        </v-content>
      </div>
    </v-app>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Navbar from "./components/Navbar.vue";
import "../css/app.css";
import "../images/app-background-image.jpg";

export default {
  name: "App",
  components: {
    Navbar
  },
  computed: {
    ...mapState({
      user: "user",
      font: "font"
    }),
    appStyles() {
      if (!this.user.loggedIn) {
        return {
          backgroundImage: "url('../images/app-background-image.jpg')",
          backgroundRepeat: "no-repeat",
          backgroundSize: "cover",
          fontFamily: this.font.family
        };
      }
    }
  }
};
</script>

