<template>
  <div>
    <h1>Team View</h1>
  </div>
</template>

<script>
// Dependencies
import { mapActions } from "vuex";

export default {
  name: "team",
  components: {
    //
  },
  created() {
    this.setWebsiteLanguage({ route: this.$route });
  },
  methods: {
    // Actions
    ...mapActions({
      setWebsiteLanguage: "setWebsiteLanguage"
    })
  }
};
</script>