/* Global styles */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app-content {
    /* zoom: 85%; */
}


/* Webkit styles */

::-webkit-scrollbar {
    /* Remove scrollbar space */
    width: 0;
    /* Optional: just make scrollbar invisible */
    background: none;
}