<template>
  <div>
    <!--  -->
  </div>
</template>

<script>
// Dependencies
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";

// MiniSidebar Vue instance
export default {
  name: "Footer",
  methods: {
    ...mapMutations("languageSidebar", {
      //
    }),
    ...mapActions("languageSidebar", {
      //
    })
  },
  computed: {
    ...mapState("languageSidebar", {
      //
    }),
    ...mapGetters("languageSidebar", {
      //
    })
  }
};
</script>

<style scoped>
/*  */
</style>