<template>
  <div>
    <v-navigation-drawer
      absolute
      temporary
      hide-overlay
      dark
      clipped
      :width="width"
      :color="theme.color"
      :right="!websiteLanguageIsArabic"
      :style="sidebarStyles"
      :value="visible"
      @input="hideLanguageSidebar($event)"
    >
      <v-list class="pt-0 pb-0">
        <language-button v-for="item in supportedLanguages" :key="item.code" :language="item"></language-button>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
// Dependencies
import { mapState, mapMutations, mapGetters } from "vuex";
import LanguageButton from "./buttons/LanguageButton.vue";
import mixins from "../mixins";

// MiniSidebar Vue instance
export default {
  name: "language-sidebar",
  mixins: [mixins],
  components: {
    LanguageButton
  },
  methods: {
    hideLanguageSidebar(event) {
      if (!event) {
        this.TOGGLE_LANGUAGE_SIDEBAR();
      }
    },
    // Mutations
    ...mapMutations("languageSidebar", {
      TOGGLE_LANGUAGE_SIDEBAR: "TOGGLE_LANGUAGE_SIDEBAR"
    })
  },
  computed: {
    supportedLanguages() {
      return this.getSupportedLanguages.filter(
        item => item.language != this.$i18n.locale
      );
    },
    sidebarStyles() {
      return {
        marginTop: `${this.height}px`,
        height: `${this.width * (this.getSupportedLanguages.length - 1)}px`,
        borderBottomRightRadius: this.websiteLanguageIsArabic ? "7px" : "0",
        borderBottomLeftRadius: this.websiteLanguageIsArabic ? "0" : "7px"
      };
    },
    // State
    ...mapState({
      theme: "theme"
    }),
    ...mapState("navbar", {
      height: "height"
    }),
    ...mapState("languageSidebar", {
      visible: "visible",
      width: "width"
    }),
    // Getters
    ...mapGetters({
      getSupportedLanguages: "getSupportedLanguages"
    })
  }
};
</script>

<style scoped>
/*  */
</style>
