<template>
  <div>
    <!--  -->
  </div>
</template>

<script>
// Dependencies
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";

// MiniSidebar Vue instance
export default {
  methods: {
    ...mapMutations("miniSidebar", {
      //
    }),
    ...mapActions("miniSidebar", {
      //
    })
  },
  computed: {
    ...mapState("miniSidebar", {
      //
    }),
    ...mapGetters("miniSidebar", {
      //
    })
  }
};
</script>

<style scoped>
/*  */
</style>