<template>
  <div>
    <v-app-bar app dark :height="height" :color="theme.color" class="pr-0 pl-0">
      <!-- Language left sidebar toggle -->
      <v-app-bar-nav-icon v-if="showLeftLanguageSidebarToggle" id="rtl__toggle">
        <localization-button></localization-button>
      </v-app-bar-nav-icon>

      <!-- Sidebar/Mini-Sidebar toggle -->
      <v-app-bar-nav-icon v-else id="ltr__hamburger">
        <hamburger-button></hamburger-button>
      </v-app-bar-nav-icon>

      <!-- Left Login button -->
      <v-toolbar-items v-if="showLeftLanguageSidebarToggle" id="rtl__login" class="ml-2">
        <navigation-button route="login"></navigation-button>
      </v-toolbar-items>

      <!-- VAR logo -->
      <v-row align="center" justify="center">
        <img :src="logo" alt="varLogo" />
      </v-row>
      <v-spacer></v-spacer>
      <!-- Tabs for right to left written languages -->
      <v-toolbar-items v-if="websiteLanguageIsArabic" id="rtl__navigation" class="mr-12">
        <navigation-button route="contact" class="hidden-sm-and-down"></navigation-button>
        <navigation-button route="team" class="hidden-sm-and-down"></navigation-button>
        <navigation-button route="about" class="hidden-sm-and-down"></navigation-button>
        <v-toolbar-items class="mr-12">
          <navigation-button route="home" class="hidden-sm-and-down mr-12"></navigation-button>
        </v-toolbar-items>
      </v-toolbar-items>

      <!-- Tabs for left to right written languages -->
      <v-toolbar-items v-else>
        <navigation-button route="home" id="ltr__navigation" class="hidden-sm-and-down"></navigation-button>
        <navigation-button route="about" class="hidden-sm-and-down"></navigation-button>
        <navigation-button route="team" class="hidden-sm-and-down"></navigation-button>
        <navigation-button route="contact" class="hidden-sm-and-down mr-12"></navigation-button>
        <v-toolbar-items class="ml-12 mr-2">
          <navigation-button route="login" :class="smAndDown"></navigation-button>
        </v-toolbar-items>
      </v-toolbar-items>

      <!-- Language right sidebar -->
      <v-app-bar-nav-icon v-if="showRightLanguageSidebarToggle" id="ltr__toggle">
        <localization-button></localization-button>
      </v-app-bar-nav-icon>

      <!-- Sidebar/Mini-Sidebar toggle -->
      <!-- class="ml-12" -->
      <div v-else :class="smAndDown">
        <div :class="smAndDown">
          <v-app-bar-nav-icon id="rtl__hamburger" :class="smAndDown">
            <hamburger-button></hamburger-button>
          </v-app-bar-nav-icon>
        </div>
      </div>

      <!-- Language sidebar component -->
      <language-sidebar />

      <!-- sidebar component -->
      <sidebar />
    </v-app-bar>
  </div>
</template>

<script>
// Dependencies
import { mapState } from "vuex";
import LanguageSidebar from "./LanguageSidebar.vue";
import Sidebar from "./Sidebar.vue";
import NavigationButton from "./buttons/NavigationButton.vue";
import LocalizationButton from "./buttons/LocalizationButton.vue";
import HamburgerButton from "./buttons/HamburgerButton.vue";
import mixins from "../mixins";

// navbar Vue instance
export default {
  name: "navbar",
  mixins: [mixins],
  components: {
    LanguageSidebar,
    Sidebar,
    NavigationButton,
    LocalizationButton,
    HamburgerButton
  },
  computed: {
    // State
    ...mapState({
      theme: "theme",
      user: "user"
    }),
    ...mapState("navbar", {
      logo: "logo",
      height: "height"
    }),
    // Conditions
    showRightLanguageSidebarToggle() {
      return this.websiteLanguageIsArabic || this.user.loggedIn ? false : true;
    },
    showLeftLanguageSidebarToggle() {
      return this.websiteLanguageIsArabic && !this.user.loggedIn ? true : false;
    },
    smAndDown() {
      return this.$vuetify.breakpoint.width < 960 ? "ml-0" : "ml-12";
    }
  }
};
</script>

<style scoped>
/*  */
</style>
