<template>
  <v-list-item class="pa-0" :style="sidebarHeaderStyles">
    <v-container class="pa-0 ma-0">
      <v-row align="center" class="pa-0 ma-0">
        <v-col cols="3" :order="avatarOrder">
          <v-list-item-avatar>
            <v-img :src="header.avatar"></v-img>
          </v-list-item-avatar>
        </v-col>
        <v-col cols="9" :order="usernameOrder">
          <v-list-item-content>
            <v-list-item-title :class="justify">John Leider</v-list-item-title>
          </v-list-item-content>
        </v-col>
      </v-row>
    </v-container>
  </v-list-item>
</template>

<script>
// Dependencies
import { mapState } from "vuex";
import mixins from "../mixins";

export default {
  name: "sidebar-header",
  mixins: [mixins],
  computed: {
    sidebarHeaderStyles() {
      return {
        height: `${this.height}px`
      };
    },
    // State
    ...mapState("navbar", {
      height: "height"
    }),
    ...mapState("sidebar", {
      header: "header"
    }),
    // Conditions
    avatarOrder() {
      return this.websiteLanguageIsArabic ? 2 : 1;
    },
    usernameOrder() {
      return this.websiteLanguageIsArabic ? 1 : 2;
    }
  }
};
</script>

<style scoped>
/*  */
</style>