<template>
  <div>
    <v-navigation-drawer
      app
      temporary
      hide-overlay
      :right="websiteLanguageIsArabic"
      :color="theme.color"
      :value="visible"
      @input="hideSidebar($event)"
    >
      <!-- Sidebar header -->
      <sidebar-header></sidebar-header>
      <v-divider></v-divider>

      <!-- Sidebar navigation buttons  -->
      <v-list class="hidden-md-and-up pa-0">
        <sidebar-button v-for="tab in tabs" :key="tab.name" :tab="tab"></sidebar-button>
      </v-list>
      <v-divider class="hidden-md-and-up"></v-divider>

      <!-- Sidebar category buttons  -->
      <v-list class="pa-0">
        <category-button v-for="category in categories" :key="category.label" :category="category"></category-button>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
// Dependencies
import { mapState, mapMutations } from "vuex";
import SidebarHeader from "./SidebarHeader.vue";
import SidebarButton from "./buttons/SidebarButton.vue";
import CategoryButton from "./buttons/CategoryButton.vue";
import mixins from "../mixins";

// Sidebar Vue instance
export default {
  name: "sidebar",
  mixins: [mixins],
  components: {
    SidebarHeader,
    SidebarButton,
    CategoryButton
  },
  methods: {
    hideSidebar(event) {
      if (!event) {
        this.TOGGLE_SIDEBAR();
      }
    },
    // Mutations
    ...mapMutations("sidebar", {
      TOGGLE_SIDEBAR: "TOGGLE_SIDEBAR"
    })
  },
  computed: {
    // State
    ...mapState({
      theme: "theme",
      categories: "categories"
    }),
    ...mapState("sidebar", {
      visible: "visible",
      tabs: "tabs"
    })
  }
};
</script>

<style scoped>
/*  */
</style>
